body {
    background-color: #3f3f3f;
    font-family: sans-serif;
    color: #00ff00;
}
img {
    padding: 15px;
    width: 180px;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
}

div#fileList {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
}
a {
    color: #00ff00;
}

figcaption {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: aliceblue;
}

progress {
    border-color: black;
    width: 200px;
    height: 20px;
}

#drop-area {
    border: 2px dashed #fbfafa;
    border-radius: 20px;
    font-family: sans-serif;
    margin: 100px auto;
    margin-top: 20px;
    padding: 20px;
    max-width: 900px;
}

#drop-area.highlight {
    border-color: #00ff00;
}
